@import url('https://fonts.googleapis.com/css2?family=Patua+One&display=swap');

body {
    font-family: 'Patua One', cursive;
}

.fondo-sorteo {
	background-image: url("../src/sorteoBg.png");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.fondo-normal {
	background-image: url("../src/bg.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}