@import url('https://fonts.googleapis.com/css2?family=Patua+One&display=swap');

body {
    font-family: 'Patua One', cursive;
}

.fondo-sorteo {
	background-image: url("../src/sorteoBg.png");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	min-height: 100vh;

}

.fondo-normal {
	background-image: url("../src/bg.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	min-height: 100vh;
}

@keyframes fade {
from{
opacity:0;
transform:translateY(15px);
}

to{
opacity:1;
transform:translateY(0);
}
}

.animate-fade{
animation:fade .4s ease;
}

.resultado-card{
	backdrop-filter: blur(6px);
	border-radius: 14px;
}

